:root {
	color-scheme: light dark;
}

* {
	box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
	margin: 0;
	padding: 0;
}

body {
	background: light-dark(rgb(255, 255, 255), rgb(24, 26, 27));
	font-family: "Fakt", sans-serif, Helvetica, Arial;
}

h1,
h2 {
	font-weight: 500;
	line-height: 1.2;	
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

a {
	color: light-dark(rgb(0, 123, 255), rgb(51, 162, 255));
	text-decoration: none;
}

ul {
	list-style: none;
}

.button {
	background: light-dark(rgb(0, 17, 44), rgb(0, 14, 35));
	border-radius: 6px;
	box-shadow: rgba(0, 15, 45, 0.2) 0px 3px 4px 0px;
	color: light-dark(rgb(255, 255, 255), rgb(232, 230, 227));
	padding: 1rem;
	text-align: center;
	width: 280px;

	&:hover {
		background: light-dark(rgb(28, 48, 69), rgb(22, 38, 55));
	}
}
