.preview {
	gap: 1rem;

	&,
	ul {
		display: flex;
		flex-direction: column;
	}
	
	h2 {
		text-align: center;
	}

	ul {
		border-top: 1px solid light-dark(rgb(230, 233, 235), rgb(54, 59, 61));
	}

	li {
		align-items: center;
		border-bottom: 1px solid light-dark(rgb(230, 233, 235), rgb(54, 59, 61));
		display: flex;
		gap: 1rem;
		padding: 1rem;

		> :last-child {
			margin-left: auto;
		}
	}

	img {
		height: 4rem;
		width: 4rem;
	}
	
	.title {
		font-weight: 700;
	}
	
	.price {
		color: light-dark(rgb(104, 114, 130), rgb(158, 150, 137));
	}
	
	footer {
		align-items: center;
		display: flex;
		font-weight: 700;
		gap: 1rem;
		justify-content: flex-end;
	}
}
